@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Beatrice';
  src: url('/fonts/bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif !important;
}

.link-aside {
  font-family: 'Beatrice', sans-serif !important;
  font-weight: bold;
}

@media (max-width: 720px) {
  .swiper-banner-home img {
    height: unset !important;
    width: unset !important;
    position: relative !important;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #fff;
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

img {
  object-fit: cover;
}

.projects .swiper {
  overflow: visible;
}

.slick-prev {
  position: absolute;
  top: 50%;
  left: 10px !important;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  background: #ffffff0e !important;
  backdrop-filter: blur(24px);
  width: 48px !important;
  height: 48px !important;
  color: #fff !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.slick-prev::before {
  display: none;
}
.slick-next::before {
  display: none;
}

.slick-next {
  position: absolute;
  top: 50%;
  right: 10px !important;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  background: #ffffff0e !important;
  backdrop-filter: blur(24px);
  width: 48px !important;
  height: 48px !important;
  color: #fff !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #fff !important;
}

.jarallax {
  height: 2000px;
  overflow: hidden;
}

.jarallax-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/escritorio_02.jpg");
  background-size: cover;
  will-change: transform;
  transform: translateZ(0);
}

.content {
  position: relative;
  z-index: 2;
}

.text-with-stroke {
  -webkit-text-stroke-width: 1px;
  color: transparent;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border: 2px solid #111;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.text-8xl, .lg\:text-8xl {
  line-height: 110% !important;
}

.content-notice p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  text-align: justify;
  text-align: justify;
  margin-bottom: 1rem;
}

.content-notice h2 {
  font-size: 1.5rem !important;
}

.content-notice h3 {
  font-size: initial !important;
  font-weight: initial !important;
}

.content-notice {
  position: relative;
}

.content-notice img {
  max-width: 100% !important;
}

.content-notice li {
  list-style: initial !important;
  margin-bottom: 0.5rem;
}

.content-notice ol li {
  list-style: decimal !important;
}

.content-notice ul {
  padding-left: 1rem;
}

.content-notice ol {
  padding-left: 2rem;
}

.content-notice iframe {
  max-width: 540px;
}

#comments,
#notices {
  overflow: visible;
}

#comments .swiper-pagination-bullet,
#notices .swiper-pagination-bullet {
  background: #fff !important;
}

#comments .swiper-pagination,
#notices .swiper-pagination {
  bottom: -24px !important;
}

.swiper-gallery .swiper-button-prev,
.swiper-gallery .swiper-button-next {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  background-color: #8334d2;
}
.swiper-gallery .swiper-button-prev::after,
.swiper-gallery .swiper-button-next::after {
  font-size: 16px;
  color: #fff;
}

.backdrop-blur-24 {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

.swiper-gallery-mobile .swiper-slide {
  height: 35vh !important;
  width: 100% !important;
}

.swiper-gallery-mobile .swiper-pagination-fraction {
  right: 8px !important;
  bottom: 8px !important;
  z-index: 10 !important;
}

.swiper-gallery {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden !important;
  position: unset !important;
}

.swiper-gallery .swiper-slide {
  width: 100% !important;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 720px) {
  #comments .slick-next,
  #comments .slick-prev {
    display: none !important;
  }
  #notices .slick-next,
  #notices .slick-prev {
    display: none !important;
  }
}
