@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

img {
  object-fit: cover;
}

.projects .swiper {
  overflow: visible;
}

.slick-prev {
  position: absolute;
  top: 50%;
  left: 10px !important;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
  background: #00000023 !important;
  backdrop-filter: blur(24px);
  width: 48px !important;
  height: 48px !important;
  color: #fff !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.slick-prev::before {
  display: none;
}
.slick-next::before {
  display: none;
}

.slick-next {
  position: absolute;
  top: 50%;
  right: 10px !important;
  transform: translateY(-50%);
  z-index: 9999;
  cursor: pointer;
  background: #00000023 !important;
  backdrop-filter: blur(24px);
  width: 48px !important;
  height: 48px !important;
  color: #fff !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #fff !important;
}
